<div class='col-md-12 status_row'  id='{{ticket}}' data-status='{{status}}'>
  <div class='status {{statusClass status}}'>
    <h4>
      <a target="_blank" href='/pretty_status/{{ticket}}'>{{id}}</a>
    </h4>
    <ul>
      <li> <strong> Ticket #: </strong>{{ticket}} </li>
      <li> <strong> Method: </strong>{{method}} </li>
      <li class="status_message"><strong>Status: </strong>
        {{#if processing}} 
          : processing
        {{/if}}
        {{#if complete}}
          : successful 
        {{/if}}
        {{#if error}}
          : error - <a  target="_blank" href="/screenshot/{{ticket}}">see screenshot</a>
        {{/if}}
      </li>
      <li><strong>Submitted at: </strong>{{start_time}}</li>
      <li><strong>Elapsed Time: </strong>{{wait_time}}</li>
    </ul>
  </div>
</div>